<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget-org" value="https://artifactory.xero-support.com/api/nuget/nuget-gallery"/>
        <add key="xero-nuget" value="https://artifactory.xero-support.com/api/nuget/nuget"/>
    </packageSources>
</configuration>